.mt-5 {
    margin-top: 5px;
}

.center-login {
    width: 50%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
    border-radius: 5px;
    background-color: #222d5a;
    box-shadow: 1px 1px 4px 2px #222d5a;
}

.cursor-pointer {
    cursor: pointer
}
